
.feature{
    background-color: rgb(125, 179, 226);
}
.urgent-text{background-color: rgb(155, 7, 7);}
.pending-text{background-color: rgb(252, 179, 44);}
.active-text{background-color: rgba(15, 161, 15, 0.986);}
