:root {

  --bg-color: #67a3e0;
  --accent-color: rgb(8, 52, 97);
  --text-primary: rgb(0, 0, 0);
  --text-secondary: white; 
  --border-color: black;
}

:root.dark-mode {

  --bg-color: rgb(3, 27, 51);
  --accent-color: #2a80d6;
  --text-primary: rgb(255, 255, 255); 
  --text-secondary: rgb(0, 0, 0);
  --border-color: white;
}


body {
  background-color: var(--bg-color);
  color: var(--text-primary); 
}


#navbar {
  background-color: var(--accent-color);
}


.border-bottom {
  border-color: var(--border-color) !important;
}


svg {
  color: currentColor;
}
.campaign-container {
  background-color: var(--accent-color);
  color: var(--text-secondary);
}
form{
    background-color: var(--accent-color);
    color: var(--text-secondary);
    border-color: black;

}
.social-media-link {
  color: var(--text-primary);
}
