
.btn-custom-color {background:rgb(4, 60, 247);
    color:white
}
.btn-custom-color:hover { background:rgb(125, 163, 235);
    color:black
}

.btn:hover{
    transition: all 0.4s ease;
    transform: scale(1.05)
}



